@import "tailwindcss";

@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2")
      format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Phantom Sans";
  src: url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff")
      format("woff"),
    url("https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2")
      format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #f3f2ef;
  --foreground: #121212;

  --hc-red: #ec3750;
  --hc-orange: #ff8c37;
  --hc-yellow: #f1c40f;
  --hc-green: #33d6a6;
  --hc-cyan: #5bc0de;
  --hc-blue: #338eda;
  --hc-purple: #a633d6;
  --hc-muted: #8492a6;

  --color-wrapped-cream: #f3f2ef;
  --color-wrapped-black: #121212;

  --color-wrapped-red: var(--hc-red);
  --color-wrapped-orange: var(--hc-orange);
  --color-wrapped-yellow: var(--hc-yellow);
  --color-wrapped-green: var(--hc-green);
  --color-wrapped-cyan: var(--hc-cyan);
  --color-wrapped-blue: var(--hc-blue);
  --color-wrapped-purple: var(--hc-purple);
  --color-wrapped-muted: var(--hc-muted);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-wrapped-cream: var(--color-wrapped-cream);
  --color-wrapped-black: var(--color-wrapped-black);
  --color-wrapped-red: var(--color-wrapped-red);
  --color-wrapped-orange: var(--color-wrapped-orange);
  --color-wrapped-yellow: var(--color-wrapped-yellow);
  --color-wrapped-green: var(--color-wrapped-green);
  --color-wrapped-cyan: var(--color-wrapped-cyan);
  --color-wrapped-blue: var(--color-wrapped-blue);
  --color-wrapped-purple: var(--color-wrapped-purple);
  --color-wrapped-muted: var(--color-wrapped-muted);

  --font-sans: "Phantom Sans", system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow: hidden;
}

.text-stroke {
  -webkit-text-stroke: 1px black;
  color: transparent;
}

.text-stroke-white {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

.text-stroke-thick {
  -webkit-text-stroke: 2px black;
  color: transparent;
}
